*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

body{
  border: 5px solid white;  
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height:40px;
  background-color: #E85D5D;
  
}
.globe{
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
.page-title{
  font-size: 20px;
  margin-top: 0;
  margin-left: 8px;
  font-weight: 400;
  color: white;
}

.logo--map{
  width: 14px;
  margin-right: 5px;
}
.photos{
  margin-top: 10px;
  width: 300px;
  height: 300px;
  
}

.dates{
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}
.description{
  font-size: small;
}
